body {
    background-color: #F9F9F9;
    font-family: 'Epilogue', sans-serif;
}

.submit {
    width: 20vw;
    background-color: cadetblue;
    border-color: transparent;
}

.submit:hover {
    cursor: pointer;
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes background-color {
    100% {
        background-color: #4791d0;
    }
}

#email_id {
    width: 20vw;
}

#scroll {
    overflow-y: scroll;
    text-align: center;
    display: grid;
    justify-items: center;
}

#topBar {
    position: fixed;
    top: 0%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F9F9F9;
}

#image {
    height: 50px;
    padding: 0;
    margin: 0;
}

#topBarLinks {
    display: grid;
    padding-top: 15px;
    letter-spacing: 6px;
    grid-template-columns: 20vw 20vw 20vw;
}

#registerBar {
    margin: 10vh;
    display: grid;
    grid-template-rows: 5vh 5vh;
    justify-items: center;
    gap: 30px;
}

#promoInfo {
    display: grid;
    justify-items: center;
    margin-top: 0%;
    gap: 3vh;
    grid-template-rows: 7vw 7vw 7vw;
}

.promo {
    display: flex;
    align-items: center;
    width: 50%;
}

.promo .fab {
    font-size: 60px;
    color: #000000;
    padding-right: 20px;
}

.promoText {
    font-size: 20px;
    text-align: left;
}

.img {
    height: 60px;
}

#productInfo {

    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    justify-items: center;
}

.product {
    display: grid;
    border: 1px black solid;
    height: 30vh;
    width: 20vh;
    grid-template-rows: 20px 60px;
    justify-items: center;
}

.product:hover {
    color: red;
    transform: scale(1.2);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

#video {
    margin: 50px;
}

h4 {

    margin: 10px;
    margin-top: 30px;
    height: 10px;

}

.submit2 {
    height: 20px;
    width: 7vw;
    background-color: cadetblue;
    border-color: transparent;
}

.submit2:hover {
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    cursor: pointer;
}

#footInfo {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    margin-top: 30px;
}

#registerButton, #promoInfo {
    margin-top: 20px;
}