body {
    background-color: #F9F9F9;
    font-family: 'Epilogue', sans-serif;
    ;
}

#topBar {
    position: fixed;
    display: grid;
    grid-template-columns: 50% 50%;
}

#image {
    height: 50px;
    padding: 0;
    margin: 0;
}

#topBarLinks {
    display: grid;
    padding-top: 15px;
    letter-spacing: 6px;
    grid-template-columns: 20vw 20vw 20vw;
}

#registerBar {

    margin: 20vh;
    display: grid;
    grid-template-rows: 5vh 5vh;
    justify-items: center;
    gap: 30px;
}

#promoInfo {
    display: grid;
}

.promo {
    display: grid;
    grid-template-columns: 50px 50vw;
}

.img {
    height: 50px;
    width: 50px;
}

#productInfo {
    display: grid;
    grid-template-columns: 33vw 33vw 33vw;
}

.product {
    border: 3px black solid;
    justify-self: center;
    height: 20vh;
    width: 15vh;
}

#footInfo {}

a {
    text-decoration: none;
    color: black;
}